.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

#usernameInput,
#loginButton {
  margin: 5px; /* Add some space between the text box and button */
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  margin-top: 20px; /* Optional spacing at the top */
}

#boardCodeTextBox {
  margin-bottom: 10px; /* Space between search box and buttons */
  width: 80%; /* Optional width for the search box */
  padding: 8px; /* Add padding for better usability */
}

#buttonContainer {
  display: flex;
  gap: 10px; /* Space between the buttons */
}

#joinBoard,
#createBoard {
  padding: 5px 5px; /* Add padding for better usability */
}

.button {
  background-color: #0a755a;
  border-color: #282c34;
  color: rgb(0, 0, 0);
}

#greetingPlayer {
  color: white;
}

#headerContainer {
  display: flex; /* Align items horizontally */
  align-items: center; /* Align items vertically in the middle */
  position: absolute; /* Position the container absolutely */
  top: 10px; /* Distance from the top of the page */
  left: 0px; /* Distance from the left of the page */
}

#boardId {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 0px;
  padding: 0;
  color: white;
}

#leaveButton {
  font-size: 14px; /* Adjust button size */
  margin-left: 10px; /* Space between the header and button */
  margin-right: 10px;
  padding: 1px 5px; /* Button padding */
}

#topRowBoardSquares {
  display: flex;
  list-style-type: none; /* Removes default list bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  position: fixed; /* Fix the position */
  top:8px;          /* Stick to the top of the screen */
  left: 475px;         /* Align to the left edge */
}

#bottomRowBoardSquares {
  display: flex;
  list-style-type: none; /* Removes default list bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  position: fixed; /* Fix the position */
  top: 768px;          /* Stick to the top of the screen */
  left: 475px;         /* Align to the left edge */
}

.boardSquare {
  border: 2px solid black;  /* Adding border style and width */
  background-color: rgb(118, 152, 192);
}

#rightColBoardSquares {
  list-style-type: none; /* Removes default list bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  position: fixed; /* Fix the position */
  top: 102px;          /* Stick to the top of the screen */
  left: 1235px;         /* Align to the left edge */
}

#leftColBoardSquares {
  list-style-type: none; /* Removes default list bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  position: fixed; /* Fix the position */
  top: 102px;          /* Stick to the top of the screen */
  left: 475px;         /* Align to the left edge */
}