.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

#usernameInput, #loginButton {
  margin: 5px; /* Add some space between the text box and button */
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  margin-top: 20px; /* Optional spacing at the top */
}

#boardId {
  margin-bottom: 10px; /* Space between search box and buttons */
  width: 80%; /* Optional width for the search box */
  padding: 8px; /* Add padding for better usability */
}

#buttonContainer {
  display: flex;
  gap: 10px; /* Space between the buttons */
}

#joinBoard, 
#createBoard {
  padding: 5px 5px; /* Add padding for better usability */
}

.button {
  background-color: #0a755a;
  border-color: #282c34;
  color: rgb(0, 0, 0);
}

#greetingPlayer{
  color: white
}

#boardId {
  font-size: 16px; /* Makes the header text small */
  position: absolute; /* Positions the header relative to the top-left of the page */
  top: 10px; /* Distance from the top of the page */
  left: 10px; /* Distance from the left of the page */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  color: white;
}